#root {
  max-width: 1280px;
  max-height: 200px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.header{
  display: flex;
  vertical-align:bottom;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 2rem;
}

.subdomain {
  font-size: 4em;
}

button {
    margin-left: 1em;
    margin-right: 1em;
}